<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>Registration CRUD Web Application</title>
</head>
<body>

<div class="container">
  <div class="row" >
    <div class="col-lg-2"></div>
    <div class="col-lg-8 first-row">
      <h2>Clients Registration Form</h2><br><br>
      <form id="form">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div><br>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control">
          </div>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="radio1" value="male">
                <label class="form-check-label" for="radio1">Male</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="radio2" value="female">
                <label class="form-check-label" for="radio2" >Female</label>
              </div>
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row" >
    <div class="col-lg-2"></div>
    <div class="col-lg-8 second-row">
      <ul class="list-group" id="clients-list">
        <!-- Displaying the forms -->
        <% for (let doc of docs) { %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-4">First name: <span class="blue"><%= doc.firstName %></span></div>
              <div class="col-md-4">Email: <span class="blue"><%= doc.email %></span></div>
              <div class="col-md-4 tex-right">
                <button type="button" class="btn btn-secondary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
              <div class="col-md-4">Last name: <span class="blue"><%= doc.lastName %></span></div>
              <div class="col-md-4">Sex: <span class="blue"><%= doc.gender %></span></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>
</body>
</html>