* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.first-row {
    margin-top: 15px;
}

.second-row {
    margin: 50px auto;
}

.blue {
    color: royalblue;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.font {
    font-size: 14px;
}