* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.first-row {
    margin-top: 15px;
}

.second-row {
    margin: 50px auto;
}

.blue {
    color: royalblue;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.font {
    font-size: 14px;
}

#alertBox {
    display: none;
    opacity: 1;
}

.fade-out {
    opacity: 0;
    animation-name: fade;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 2s;
}

@keyframes fade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}